body{
    margin:0;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    background-color: #ffc9ff;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #9a14ec;
}
.contenedor-aside-main{
    display: flex;
    height: 400px;
}
aside{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff99ff;
}
main{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #cb87f6;
}
