#elemento1-tamaño{
    font-size: 10px;
}
#elemento2-tamaño{
    font-size: 20px;
}
#elemento3-tamaño{
    font-size: 30px;
}
#elemento4-tamaño{
    font-size: 40px;
}
#elemento4-tamaño{
    font-size: 40px;
}
#elemento5-tamaño{
    font-size: 50px;
}
#elemento6-tamaño{
    font-size: 60px;
}
#elemento7-tamaño{
    font-size: 70px;
}
#elemento8-tamaño{
    font-size: 80px;
}
#elemento9-tamaño{
    font-size: 90px;
}
#elemento10-tamaño{
    font-size: 100px;
}