/* html{
    font-size:1px;
    } */
*{
    margin: 0%;
    padding: 0%;
}
body{
    min-height: 100vh;
}
header{
    background-color:brown;
    height: 40px;
}

a{
    text-decoration: none;
    color:beige;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
} 
nav{
    display: flex;
    height: 40px;
    /* justify-content: space-between; */
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}
.container-icon{
    display: flex;
    width: 5%;
    /* evitamos que se visualice al principio */
    display: none;
    margin-right: 20px;
    flex-wrap: wrap;
    align-content: center;
}
.fa-bars{
    font-size: 30px;
    color:beige;
}

@media (max-width:844px) {
    ul {
        width: 50%;
    }
}

@media (max-width:700px) {
    ul {
        width: 60%;
    }
}


@media (max-width:600px) {
    ul {
        width: 70%;
    }
}

@media (max-width:500px) {
    ul {
        width: 80%;
    }
}
@media (max-width:440px) {
    ul {
        display: none;
    }
    .container-icon{
        display:flex ;
    }
    nav{
        justify-content: end;
    }
}