body{
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}
.cuadro{
    height: 200px;
    margin: 10px;
    flex-basis: 25%;
    background-color: rgb(124, 96, 96);
}
.flex-grow{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.cuadro1{
    background-color: aqua;
    flex-grow: 1;
}
.cuadro2{
    background-color: rgb(255, 255, 0);
    flex-grow: 1;
}