body{
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
}
header{
    flex-grow: 1;
    background-color: #ffc9ff;
    display: flex;
}
main{
    flex-grow: 6;
    display: flex;
}
footer{
    flex-grow: 1;
    background-color: #cb87f6;
    display: flex;
}
.posicionamiento{
    justify-content: center;
    align-items: center;
}