body{
    font-family: 'Open Sans', sans-serif;;
}
h2{
    font-size: 150%;
}
h3{
    font-size: 100%;
}
.nombre-usuario{
    text-decoration: none;
    color: blue;
}
span{
    background-color: lightgray;
}
.color-fecha{
    color: lightgray;
    font-size: 80%;
}