.color-rojo{
    color: red;
}
.color-naranja{
    color: orange;
}
.color-amarillo{
    color: yellow;
}
#color-morado{
    color:purple;
}
#color-verde{
    color:green;
}
#color-rosa{
    color:pink
}